@import "tailwindcss";

.image-wrapper {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 20%),
    url("../src/assets/movie-list.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}